<div id="address">
  <%= error_messages_for :address_presenter %>
  <h1><%= t("address")%></h1>
  <% form_for :address_presenter, :url => user_addresses_url(@user) do |f| %>
    <%= render :partial => 'shared/form_address', :locals => {:f => f, :presenter_type => "address"} %>
 		<br/>
    <%= submit_tag t('actions.create') %>
  <% end %>
</div>
